.banner {
    background-size: cover;
    height: 300px;
    margin-top: 30px;
}

.banner-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.banner-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.banner-content .btn {
    font-size: 18px;
    padding: 10px 20px;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 200px;
    }

    .banner-content h1 {
        font-size: 24px;
    }

    .banner-content .btn {
        font-size: 16px;
    }
}
