.shoe-details-container {
    display: flex;
    justify-content: space-between;
  }
  
 
  .shoe-details {
    flex: 2;
  }
  
  .price {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  .quantity-selector {
    margin-bottom: 20px;
  }
  
  .quantity-selector label {
    margin-right: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
.button-container {
  display: flex;
  align-items: center;
}

.button-container .btn-primary {
  margin-right: 10px; /* Ajusta el margen entre los botones según necesites */
}

.button-container .btn-outline-primary {
  color: red; /* Cambia el color del icono del corazón a rojo */
}
i{
    font-size: 25px;
}